body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F5F5F5;
}

header {
    height: 84px;
    width: 100%;

    background-color: #800116;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    gap: 50px;
}

header ul li a {
    text-decoration: none;
    color: white;

    font-size: 18px;
    font-weight: 700;
}

header ul li a:hover {
    color: #FAB000;
}

.content {
    min-height: 500px;
    width: 1180px;

    margin-top: 60px;
}

.content .news {
    min-height: 300px;
    width: 100%;

    border-radius: 20px;

    display: none;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

.content .news.show {
    display: flex;
}

.content .news .news_table {
    height: 500px;
    width: 100%;
    
    padding: 10px;
    
    border-radius: 20px;
    
    background-color: white;
    box-shadow: 0px 0px 10px 1px #cecece;
    
    display: none;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.content .news .news_table.show {
    display: flex;
}

.content .news .news_table table {
    height: 300px;
    margin-top: 0;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content .news .news_table table thead tr {
    height: 40px;
    background-color: #800116;
    text-align: center;
    color: white;
}

.content .news .news_table table tbody tr:nth-child(odd) {
    height: 45px;
    background-color: rgba(238, 238, 238, 0.933);
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.content .news .news_table table tbody tr:nth-child(even) {
    height: 45px;
    background-color: #bbbbbb;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.content .news .news_table table tbody tr td{
    transition: box-shadow 0.3s ease;
}

.content .news .news_table table tbody tr td input {
    height: 35px;
    width: 60%;
    border-radius: 20px;
    border: none;
    outline: none;

    background-color: #800116;
    color: white;
    font-weight: 600;
}

.content .news .news_table table tbody tr td input:hover {
    cursor: pointer;
    background-color: #ad001d;
}

.content .news .news_table table tbody tr:nth-child(odd):hover td{
    box-shadow: 0px 6px 8px  rgba(0, 0, 0, 0.8) ;
}

.content .news .news_table table tbody tr:nth-child(even):hover td{
    box-shadow: 0px 6px 8px  rgba(0, 0, 0, 0.8) ;
}

.content .news .buttons {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    margin-bottom: 30px;
}

.content .news .buttons input {
    height: 100%;
    width: 280px;

    background-color: #800116;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border: none;
    outline: none;

    border-radius: 50px;
}

.content .news .buttons input:hover {
    cursor: pointer;
    background-color: #ad001d;
}

.content .news .add_news {
    min-height: 400px;
    width: 100%;

    background-color: white;
    box-shadow: 0px 0px 10px 1px #cecece;
    border-radius: 20px;

    margin-top: 50px;
    margin-bottom: 50px;

    display: none;

    padding: 10px;

    align-items: flex-start;
    justify-content: center;
}

.content .news .add_news.show {
    display: flex;
}

.content .news .add_form {
    min-height: 300px;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.content .news .add_form input[type="text"] {
    height: 30px;
    width: 100%;
    margin-bottom: 20px;

    border-radius: 10px;

    border: none;
    outline: none;

    padding-left: 15px;

    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.content .news .add_form #editor_news {
    min-height: 300px;
    width: 100%;
}

.content .news .add_form .ql-toolbar {
    width: 100%;
}

.content .news .add_form input[type="submit"] {
    height: 40px;
    width: 280px;
    margin-top: 20px;

    border-radius: 10px;

    border: none;
    outline: none;

    background-color: #800116;

    color: white;
    font-size: 16px;
    font-weight: 600;

    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.content .news .add_form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ad001d;
    box-shadow: 0px 0px 10px 1px #ad001d;
}

.content .news .add_form input[type="file"] {
    display: none;
}

.content .news .add_form label {
    height: 40px;
    width: 280px;

    background-color: #800116;

    color: white;
    font-weight: 600;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.content .news .add_form label:hover {
    cursor: pointer;
    background-color: #ad001d;
    box-shadow: 0px 0px 10px 1px #ad001d;
}

.content .news .add_form .images {
    min-height: 100px;
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    gap: 20px;

    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

.content .news .add_form .images .image {
    height: 100%;
    width: 100px;

    flex-shrink: 0;

    background-color: white;

    box-shadow: 0px 0px 10px 1px #cecece;
}

.content .news .add_form .images .image img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.content .partners {
    min-height: 400px;
    width: 100%;

    margin-bottom: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content .partners .partners_buttons {
    height: 50px;
    width: 600px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content .partners .partners_buttons input {
    height: 100%;
    width: 280px;

    border-radius: 20px;

    background-color: #800116;
    border: none;
    outline: none;

    color: white;
    font-size: 16px;
    font-weight: 600;

    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.content .partners .partners_buttons input:hover {
    cursor: pointer;
    background-color: #ad001d;
    box-shadow: 0px 0px 10px 1px #ad001d;
}

.partners .all_partners {
    min-height: 400px;
    width: 100%;
    background-color: white;

    margin-top: 60px;
    border-radius: 20px;

    display: none;

    padding: 20px;

    box-shadow: 0px 0px 10px 1px #cecece;
}

.partners .all_partners .items {
    min-height: 400px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.partners .all_partners .items .item {
    height: 140px;
    width: 140px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners .all_partners .items .item img{
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.partners .all_partners .items .item .gradient {
    height: 0;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));

    transition: height 0.5s ease;
}

.partners .all_partners .items .item .text {
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 18px;
    font-weight: 600;
}

.partners .all_partners .items .item:hover {
    cursor: pointer;
}

.partners .all_partners .items .item:hover .gradient {
    height: 100%;
}

.partners .all_partners .items .item:hover .text {
    display: flex;
}

.partners .all_partners.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners .add_partner {
    min-height: 400px;
    width: 100%;
    background-color: white;

    margin-top: 60px;
    border-radius: 20px;

    display: none;

    box-shadow: 0px 0px 10px 1px #cecece;
}

.partners .add_partner.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .partners.show {
    display: flex;
}

.content .stats {
    min-height: 400px;
    width: 100%;

    margin-bottom: 100px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content .stats.show {
    display: flex;
}